<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="">
                       SOBRE
                    </a>
                </li>
                <li>
                    <a href="">
                        FAQ
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, Powerd by <a href="zini.rafael@gmail.com">code5</a>
        </div>
    </div>
</footer>
