.container-main {
    height: 100vh;
    background: #eeeeee;
    .body-container {
        .col-md-4,
        .col-md-8 {
            padding: 0px;
        }
        .separated-group {
            display: flex;
            flex-wrap: wrap;
            .left-container {
                padding-top: 100px;
                .card {
                    max-width: 380px;
                    margin-left: auto;
                    margin-right: auto;
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
                    .header-container {
                        text-align: center;
                        margin-top: 20px;
                        margin-bottom: 15px;
                    }
                    .card-body {
                        h5 {
                            font-weight: bold;
                            font-size: 1.2rem;
                            padding-top: 15px;
                        }
                        .error-new-password {
                            margin-bottom: 5px;
                            font-size: 13px;
                            font-weight: bold;
                            color: #ff3b3b;
                        }
                        .icon {
                            width: 120px;
                        }
                    }
                    .footer-container {
                        padding-top: 15px;
                        padding-bottom: 15px;
                        text-align: center;
                    }
                    .btn {
                        width: 100%;
                        border-radius: 8px;
                    }
                }
            }
            .right-container {
                background: #8257e5;
                height: 100vh;
                width: 100%;
                .text-container {
                    padding-top: 120px;
                    width: 400px;
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                    .center-title {
                        color: white;
                        font-size: 80px;
                        font-weight: bold;
                        margin-bottom: 2px;
                    }
                    .center-subtitle {
                        color: white;
                        font-size: 20px;
                        font-weight: bold;
                        margin-bottom: 2px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .right-container {
        display: none;
    }
}