<div class="container-main">
    <div class="header-container">

    </div>
    <div class="body-container">
        <div class="separated-group">
            <div class="col-md-4">
                <div class="left-container">

                    <div class="card">
                        <div class="card-header">
                            <img src="" style="width: 150px;">
                        </div>
                        <div class="card-body">
                            <form>
                                <div *ngIf="!defineNewPassword" class="col-md-12">
                                    <form autocomplete="off" method="post" #frm="ngForm">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <h5>Nova senha</h5>
                                                <p>Crie sua nova senha</p>
                                                <input pInputText type="password" class="form-control input-text-group" placeholder="Senha" name="login" [(ngModel)]="password" [disabled]="disableInterface" required />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input pInputText type="password" class="form-control input-text-group" placeholder="Confirme a senha" name="password" [(ngModel)]="passwordConfirm" [disabled]="disableInterface" required (keyup.enter)="newPassword()" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="update ml-auto mr-auto">
                                                <button type="submit" class="btn btn-primary" (click)="newPassword()" [disabled]="frm.invalid || disableInterface">ENVIAR <span *ngIf="disableInterface == true" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>
                                            </div>
                                        </div>
                                        <div *ngIf="passwordError" class="col-md-12">
                                            <p *ngIf="passwordError" class="error-new-password"> {{passwordErrorMessage}} </p>
                                        </div>
                                    </form>

                                </div>
                                <div *ngIf="defineNewPassword" class="card-body" style="text-align: center;">
                                    <div class="col-md-12">
                                        <img class="icon" src="../../../../assets/img/icone-sucesso.jpg" alt="">
                                    </div>
                                    <div class="col-md-12">
                                        <p>
                                            Senha cadastrada com sucesso, <a href="/login">clique aqui</a> para voltar ao login.
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="footer-container">

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-8">
                <div class="right-container">
                    <div class="text-container">
                        <p class="center-title">TESTE FULLSATACK</p>
                        <p class="center-subtitle">A plataforma Web completa</p>
                        <p class="center-subtitle">para o seu negócio.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>